Repository ck999kk/VCAT-Evidence-Archive-2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @legal-reviewer, @forensic-reviewer, @repo-admin, @documentation-lead

.github/CODEOWNERS:

# VCAT Evidence Repository Code Owners

# Core evidence files require legal review
/VCAT_SUBMISSION_PACKAGE/ @legal-reviewer
/VCAT_NON_GMAIL_EVIDENCE/ @forensic-reviewer

# Automation and workflows require admin approval
/90_scripts/ @repo-admin
/.github/ @repo-admin

# Documentation and reports
*.md @documentation-lead

# Critical files require multiple reviewers
/VCAT_SUBMISSION_PACKAGE/02_EVIDENCE_INDEX/ @legal-reviewer @forensic-reviewer

Remove embedded legal-repo submodule
  .DS_Store
Owners: none

Add comprehensive cleanup report documenting repository optimization
  VCAT_REPOSITORY_CLEANUP_REPORT.md
Owners: @documentation-lead

Complete repository cleanup and optimization
  .DS_Store
Owners: none

feat(pages): setup GitHub Pages with basic index.html
  .github/workflows/deploy-pages.yml
  docs/index.html
Owners: @repo-admin

feat(pages): add Evidence Index and IRAC Analysis from live data
  docs/Evidence-Index.html
  docs/IRAC-Analysis.html
Owners: none

feat(optimization): Complete VCAT repository optimization for AI accessibility
  AI_ACCESSIBILITY_INDEX.md
  LEGAL_CONTEXT_METADATA.md
  MASTER_INDEX.md
  PDF_TEXT_ALTERNATIVES.md
  README.md
  SUBMISSION_CHECKLIST.md
  docs/index.html
Owners: @documentation-lead
